@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
}

.wrapper {
    height: 100vh;
}
    
.font-size-small {
    font-size: 12px;
}

.h-550px {
    height: 550px;
}

.icon-small {
    width: 25px;
}

.principle-header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.principle-navbar {
    height: 75px;
    width: 300px;
    background-color: #b9c0f3;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.button-principle-navbar {
    background-color: #fff;
    border-radius: 50px;
}

.main-content {
    margin-top: 110px;
    height: calc(100vh - 110px);
}

.form-user {
    height: 450px;
    width: 550px;
    overflow-y: auto;
    box-shadow: 4px 10px 40px -2px rgba(118,118,118,0.75);
    -webkit-box-shadow: 4px 10px 40px -2px rgba(118,118,118,0.75);
    -moz-box-shadow: 4px 10px 40px -2px rgba(118,118,118,0.75);
}

.input-form-style {
    width: 225px;
    height: 40px;
    border-radius: 5px;
}

.style-table{
    width: 100%;
    text-align: center;
}

.style-head-table {
    background-color: #929fff;
    padding: 20px;
    height: 20px;
}


.style-column-table {
    background-color: #4b4b4b!;
    padding: 5px;
    border: 1px;
}

.color-button {
    background-color: #eed9ef;
    border: none;
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
    width: 43px;
    height: 30px;
}

.box-modal {
    width: 100%;
    height: 100vh;
    background-color: #4b4b4b99;
    position: fixed;
    top: 0;
    z-index: 100;
}


.box-form-modal {
    position: relative;
    width: 400px;
    border-radius: 5px;
}

.form-modal {
    height: 75%;
}

.button-modal {
    position: absolute;
    top: 0;
    right: 0;
}

.box-filter {
    display: flex;
}

.input-filter {
    width: 200px;
}
